.user-panel__link {
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    margin: 0;
}

.user-panel__link:hover {
    opacity: 0.8;
  }