.author__job {
  margin: 0;
  grid-area: author-job;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .author__job {
    font-size: 16px;
  }
}

@media screen and (max-width: 448px) {
  .author__job {
    text-align: center;
    font-size: 14px;
  }
}
