.user-panel__auth-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    margin: 0;
}

.user-panel__auth-link:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 920px) {
    .user-panel__auth-link {
        font-size: 14px;
        line-height: 1.21;
    }
  }