@media screen and (max-width: 430px) {
    .user-panel_opened {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(84, 84, 84, .7);
        padding: 40px 0;
    }
}